    <!------------------------------------------------------------------>
    <!-- NAVBAR: Barra de navegación superior, con vínculos y botones -->
    <!------------------------------------------------------------------>

    <div class="row">
                <div class="col" style="background-color: #eeeeee">
                    <!-- style="transform: scaleX(1.03);" -->
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">Nuevo Reclamo</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">Historial de Reclamos</a>
                              </li>
                              <li>
                                <button type="button" onclick="location.href='MainEmpresas.html'" class="btn btn-dark" style="margin-left: 800px; margin-right: 0px">Empresas</button>
                              </li>
                            </ul>
                            <div style="margin-left: 400px; margin-right: 200px">
                                  <input [(ngModel)]="idbusqueda" class="form-control mr-sm-2" type="search" placeholder="Buscar por #ID..." aria-label="Search">
                                      <button (click)="buscarPorId()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                                </div>
                            </div>
                    </nav>
                </div>
            </div>



     <!-- CONTENIDO -->
			<div class="row" style="background-image: linear-gradient(#355C7D, #6C5B7B, #C06C84)">
                    <div class="col-4"></div>
                    <div class="col-4" style="height:730px; ">
                        
                            <h4 style="color: #ffffff; text-align: center; margin-top: 100px; text-shadow: 2px 2px 5px black; font-size: 40px">
                                Iniciar Sesión
                            </h4><br>
    
                            <p style="color: #eeeeee; text-align: center">
                                 Ingresa tus datos:
                            </p>
                            <div>
                                <div class="form-group">
                                    <label style="color: #dddddd;">Correo Electrónico</label>
                                    <input [(ngModel)]="correo" type="text" class="form-control" id="Nombres" placeholder="JuanPerez@ejemplo.com">
                                </div>
                                <div class="form-group">
                                    <label style="color: #dddddd;">Contraseña</label>
                                    <input [(ngModel)]="pass" type="password" class="form-control" id="Apellidos" placeholder="*********">
                                </div>
                                
                                <br><button type="button" (click)="enviarCredenciales()" class="btn btn-primary btn-lg btn-block">Ingresar</button><br>
                                <a href="#"><small id="emailHelp" class="form-text" style="color: #dddddd; text-align: center">Políticas de Privacidad</small></a>
                                  <p>{{si}}</p>
                                <small id="emailHelp" class="form-text" style="color: #dddddd; text-align: center">Políticas de privacidad</small>
                                <a href="#"><small id="emailHelp" class="form-text" style="color: #dddddd; text-align: center">¿Olvidaste tu contraseña?</small></a>
                                <a (click)="registrar()"><small id="emailHelp" class="form-text" style="color: #dddddd; text-align: center">¿No tienes cuenta? ¡Regístrate!</small></a>
                            </div>
                        
                    </div>
                    <div class="col-4"></div>
                </div>
