     <!-- CONTENIDO -->
			<div class="row" style="background-image: linear-gradient(#355C7D, #6C5B7B, #C06C84)">
                    <div class="col-4"></div>
                    <div class="col-4" style="height:730px; ">
                        
                            <h4 style="color: #ffffff; text-align: center; margin-top: 100px; text-shadow: 2px 2px 5px black; font-size: 40px">
                                Iniciar Sesión
                            </h4><br>
    
                            <p style="color: #eeeeee; text-align: center">
                                 Ingresa tus datos:
                            </p>
                            <div>
                                <div class="form-group">
                                    <label style="color: #dddddd;">Correo Electrónico</label>
                                    <input type="text" class="form-control" id="Nombres" placeholder="JuanPerez@ejemplo.com">
                                </div>
                                <div class="form-group">
                                    <label style="color: #dddddd;">Contraseña</label>
                                    <input type="password" class="form-control" id="Apellidos" placeholder="*********">
                                </div>
                                
                                <br><button type="button" onclick="location.href='InterfazUR.html'" class="btn btn-primary btn-lg btn-block">Ingresar</button><br>
                                <small id="emailHelp" class="form-text" style="color: #dddddd; text-align: center">Políticas de privacidad</small>
                            </div>
                        
                    </div>
                    <div class="col-4"></div>
                </div>
