#navbar {
	background-color: #F8F9FB;
}

#navbarseccion1 {
	text-align: center;
	vertical-align: middle;
}

#btn_home_navbar {
	margin-top: 0px;
}

.padding-0 {
	padding-right: 0;
	padding-left: 0;
}

#navbarseccion2 {
	padding-top: 23px;
	padding-bottom: 0px;
	overflow: hidden;
}

#navbarseccion3 {
	padding-top: 23px;
	padding-bottom: 0px;
}