<!----------------------------------------------------->
<!-- BUSQUEDA ID COMPONENT : BUSQUEDA POR ID-->
<!----------------------------------------------------->

	<!-- SECCIÓN 1: BOTONES HOME, RECLAMO Y SUGERENCIA -->
    <div class="row" id="navbar">
            <div id="navbarseccion1" class="col-5">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                          <li class="nav-item active" id="btn_home_navbar">
                            <div class="col">
                                <a class="nav-link" href="/home">
                                    <img src="../../assets/homeiconmini.png" alt="">
                                    <br>
                                    INICIO
                                </a>
                            </div>
                          </li>
                        
                          <li class="nav-item">
                            <div class="col">
                                <a class="nav-link" href="/anonimo/realizar_sugerencia">
                                    <img src="../../assets/sugerenciaiconmini.png" alt="">
                                    <br>
                                    SUGERENCIA
                                </a>
                            </div> 
                          </li>
                          <li class="nav-item">
                            <div class="col">
                                <a class="nav-link" href="/nuestro_equipo">
                                    <img src="../../assets/usiconmini.png" alt="">
                                    <br>
                                    NOSOTROS
                                </a>
                            </div> 
                          </li>
                        </ul>
                    </div>            
                </nav>
            </div>
    
            <!-- SECCIÓN 2: BOTONES REGISTRO, LOGIN Y EMPRESAS -->
            <div class="col-4 padding-0">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarseccion2">
    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li>
                                <button type="button" id= "idBotonRegistrar" (click)="registrar()" class="btn" style="margin-left: 0px; margin-right: 10px">¡Regí­strate!</button>   
                            </li>
                            <li>
                                <button type="button" id= "idBotonLogin" class="btn" style="margin-left: 10px; margin-right: 10px" (click)="login()" >Login</button>  
                            </li>
                            <li>
                                <button type="button" id= "idBotonEmpresa" (click)="homeEmpresa()" class="btn" style="margin-left: 10px; margin-right: 0px">Empresas</button>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
    
            <!-- SECCIÓN 3: BUSCAR POR ID -->
    
            <div class="col padding-0">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarseccion3">
                              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
        
                              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            
                            <div class="col-8 padding-0" style="text-align: right">
                              <input [(ngModel)]="idBusqueda" class="form-control mr-sm-2" type="search" placeholder="Buscar #ID..." aria-label="Search" (click)="buscarPorId()">
                                 
                            </div>
                            <div class="col padding-0">
                                <button (click)="buscarPorId()" class="btn btn-outline-info my-2 my-sm-0" id= "idBotonBuscar"type="submit">
                                    Buscar
                                </button>
                            </div>
                                  
                          </div>
                    </nav>
                </div>
            <router-outlet></router-outlet>
        </div>  
          
    <!-- CONTENIDO -->
<div class="row" style="background-color: #00546c">
       <div class="col"></div>
    <div class="col-9 lead" style="color: #00546c; background-color:#F8F9FB">
        <br><br>
        <b>Id Reclamo: {{rs.idReclamoSugerencia}}  </b>
        <br>
        <b>Fecha: {{rs.fechaReclamoSugerencia}}</b>
        <br>
        <b>Empresa: {{nombreEmpresa}}</b>
        <br>
        <b>Detalle:</b>
        <b>{{rs.detalleReclamoSugerencia}}</b>
        <br>
        <b>Estado: {{rs.estado}}</b>
        <br>
        <b>Tipo: {{rs.tipo}}</b>
        <br><br>
    </div>
    <div class="col"></div>
</div>

               
    