#navbar {
	background-color: #F8F9FB;
}

#navbarseccion1 {
	text-align: center;
	vertical-align: middle;
}

#btn_home_navbar {
	margin-top: 0px;
}

.padding-0 {
	padding-right: 0;
	padding-left: 0;
}

#navbarseccion2 {
	padding-top: 23px;
	padding-bottom: 0px;
	overflow: hidden;
}

#navbarseccion3 {
	padding-top: 23px;
	padding-bottom: 0px;
}

#idBotonIngresar {
	background-color: #01b2aa;
	color: white; 
}

#idBotonRegistrar {
	background-color: #51bfe2;
	color: white;
}

#idBotonLogin {
	background-color: #0184c8;
	color: white;
}

#idBotonEmpresa {
	background-color: #00546c;
	color: white;
}

#idBotonBuscar {
	color: #00546c; 
}

td {
	color: #00546c;
}