<div clas="container-fluid">
  <!-- CONTENIDO -->
  <div class="row">
        <div class="col-8" style="height:730px; background-color: #000000; background-image: url('../assets/fondousuario.png'); background-repeat: no-repeat; ">
        </div>
        <div class="col" style="height:730px; background-image: linear-gradient(#355C7D, #6C5B7B, #C06C84)">
            <form>
                <h4 style="color: #eeeeee; text-align: center; margin-top: 150px; text-shadow: 2px 2px 5px black">
                    ¡Bienvenido/a a Grupo 3!
                </h4><br>

                <p style="color: #eeeeee; text-align: center">
                    ¿Has tenido algún inconveniente con alguna empresa? <br>
                    Si necesitas ayuda, nosotros somos a quien acudir, ya que hacemos
                    llegar tus sugerencias y reclamos a las empresas. <br><br>
                    Estás a un paso de recibir tu solución.
                </p>
                <button (click)="registrar()" class="btn btn-primary btn-lg btn-block">Registrarse</button>
                <button class="btn btn-danger btn-block">Ingresa como anónimo</button>
                <a href="" style="color: #eeeeee; text-align: center"><small id="emailHelp" class="form-text" style="color: #eeeeee">Ver beneficios de un Usuario Registrado</small></a>
            </form>
        </div>
    </div>
</div>