<div class="container-fluid" id="ourteamcontainer">
	<!-- SEPARADOR -->
	<div class="sticky-top">
	<div class="row" style="background-color: #333333; height: 1px"></div>
	<div class="row" style="background-image: linear-gradient(80deg, #ffffff, #0071A4, #003053)">
		<div class="col" style="height: 50px">
			<button class="btn" id="botonInicio" (click)="home()">Volver a Home</button>
		</div>
	</div>
	<div class="row" style="background-color: #333333; height: 1px"></div>
	</div>
	
	<!-- BANNER NUESTRA EMPRESA -->
	<div class="row" style="padding-top: 30px">
		<div class="col-1"></div>
		<div class="col-10" id="ot-header2">
			<h1 id="titulo">- NUESTRA EMPRESA -</h1>
			<br>
		</div>
		<div class="col-1"></div>
	</div>


	<!-- CONTENIDO NUESTRA EMPRESA -->
	<div class="row" style="padding-top: 80px">
		<div class="col-1"></div>
		<div class="col-5" id="textoempresa">
			<br>	
			<h1 style="text-align: center"><i>Misión G3</i></h1>
			<hr>
			<p style="text-align: center">Solucionar de manera efectiva las distancias entre empresas y clientes. <br>
				Ofrecer el mejor sistema de reclamos junto al mejor equipo.</p>
			<br>
			<h1 style="text-align: center"><i>Visión G3</i></h1>
			<hr>
			<p style="text-align: center">En el futuro cercano estaremos presentes y de la mano de una gran gama<br>
				de uso común, prestando ayuda a la mayor cantidad de personas posibles.
			</p>
		</div>
		<div class="col">
			<br>
			<img style="border-radius: 10px;" src="/../assets/fotoprofesionalmini.jpg">
		</div>
		<div class="col"></div>
	</div>

	<!-- Nuestros Valores -->
	<div class="row" style="padding-top: 80px">
		<div class="col-1"></div>
		<div class="col">
			<br>
			<img style="border-radius: 10px;" src="/../assets/ourteamheader2.jpg">
		</div>
				<div class="col-5" id="textoempresa">
			<br>	
			<h1 style="text-align: center"><i>Nuestros Valores</i></h1>
			<hr>
			<p style="text-align: center">
				<b><i>INTEGRIDAD:</i></b> Nos importa la opinión de cada usuario y sabemos que desde ellos, tanto nosotros como nuestras empresas colaboradoras, tenemos el paso hacia la mejora.
				<br><br><b><i>CALIDAD:</i></b> Trabajamos constantemente para mejorar nuestro servicio, en base a retroalimentación de nuestros usuarios y colaboradores.
				<br><br><b><i>RESPETO:</i></b> Cuidamos de la información y opiniones de nuestros usuarios para ayudar a mejorar los servicios día a día, sin divulgar ninguna información.
				<br><br><b><i>COMPROMISO:</i></b> Usamos todas las herramientas necesarias para hacer de nuestro trabajo un buen resultado para las empresas, y nos comprometemos para dar un buen servicio.</p>
			<br>
		</div>
		<div class="col"></div>
	</div>

	<br>

	<div class="row" style="padding-top: 100px">
		<div class="col-1"></div>
		<div class="col-10" id="ot-header">
			<h1 id="titulo">- NUESTRO EQUIPO -</h1>
			<br>
		</div>
		<div class="col-1"></div>
	</div>

	<div class="row" style="padding-top: 80px">
		<div class="col-2"></div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/fotos-ourteam/Su.png">
		</div>
		<div class="col-6">
			<br>
			<h4>Susana Ramírez</h4>
			<h6><i>BackEnd Developer & DBA</i></h6>
			<p>[Insertar detalle aquí] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row">
		<div class="col-2"></div>
		<div class="col-6" style="text-align: right">
			<br><br>
			<h4>Lobsang Barriga</h4>
			<h6><i>UI/UX Architect</i></h6>
			<p>[Insertar detalle aquí] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/fotos-ourteam/Dani.png">
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row">
		<div class="col-2"></div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/fotos-ourteam/Diana.png">
		</div>
		<div class="col-6">
			<br><br>
			<h4>Diana Cerda</h4>
			<h6><i>UI/UX Designer</i></h6>
			<p>[Insertar detalle aquí] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row">
		<div class="col-2"></div>
		<div class="col-6" style="text-align: right">
			<br><br>
			<h4>Juan Ramírez</h4>
			<h6><i>FullStack Programmer</i></h6>
			<p>[Insertar detalle aquí] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/fotos-ourteam/Juan.jpg">
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row">
		<div class="col-2"></div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/fotos-ourteam/Vanne.png">
		</div>
		<div class="col-6">
			<br><br>
			<h4>Vanessa Arriagada</h4>
			<h6><i>BackEnd Programmer</i></h6>
			<p>[Insertar detalle aquí] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row">
		<div class="col-2"></div>
		<div class="col-6" style="text-align: right">
			<br><br>
			<h4>José López</h4>
			<h6><i>BackEnd Programmer</i></h6>
			<p>[Insertar detalle aquí] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/fotos-ourteam/Jose.jpg">
		</div>
		<div class="col-2"></div>
	</div>
</div>