<!-- CONTENIDO -->
			<div class="row" style="background-image: linear-gradient(#355C7D, #6C5B7B, #C06C84)">
				<div class="col-3" style="background-color: #dddddd">
					<div>
						<br>
						<img src="photo-placeholder.jpeg">
						<div style="background-color: darkgray; height:10px; width: 200px; transform: translate(150px, -100px);"></div>
						<div style="background-color: darkgray; height:10px; width: 180px; transform: translate(150px, -80px);"></div>
						<button class="btn btn-primary btn-lg btn-block">Mi perfil</button>
						<br><br><br><br>
						<button class="btn btn-info btn-lg btn-block">Historial de Reclamos</button>
						<br>
						<button class="btn btn-success btn-lg btn-block" onclick="location.href='InterfazUR-Sugerencia.html'">Realizar Sugerencia</button>
						<br>
						<button class="btn btn-danger btn-lg btn-block" disabled>Realizar Reclamo</button>
						<br>
					</div>
				</div>
				<div class="col-9" style="height:730px; "><br>
					<h1 style="color: white; text-shadow: 2px 2px 5px #222222">Realizar reclamo</h1>
					<br><br><br>
					<div style="background-color: rgba(0, 0, 0, 0.2); border-radius: 30px; padding-top: 20px; padding-bottom: 20px">
						<h2 style="color:white; text-align: center; text-shadow: 2px 2px 5px #222222">¡Su Reclamo se ha enviado con éxito!</h2>
						<br>
						<div style="text-align: center">
							<a href="" style="color: #eeeeee;">¿Deseas realizar otro reclamo?</a>
						</div>
						<div style="text-align: center">
							<a href="InterfazUR-Historial.html" style="color: #eeeeee;">Ir a Historial de Reclamos</a>
						</div>
					</div>
				</div>
			</div>
