<!---------------------------------------------------->
<!-- APP COMPONENT : COMPONENTE PRINCIPAL DEL SITIO -->
<!---------------------------------------------------->

	<!-- HEADER -->
    <div class="row">
				<div class="col bg-primary" style="height: 170px; background-image: url('../assets/fondoheader.jpg'); background-size: 1200px">
					<h1 style="color: white; text-align: right; margin-top: 50px; text-shadow: 2px 2px 5px black">Sitio de Reclamos G3</h1>
				</div>
			</div>
	<router-outlet></router-outlet>

	<!-- FOOTER -->
			<div class="row">
				<div class="col-6" style="background-color: #222222; height: 200px">
					<p style="color: #bbbbbb; text-align: center; margin-top: 20px">- REDES SOCIALES -</p>
					<div class="container" style="height: 80px; transform: translate(30px, -10px)">
						<img src="../../assets/iconfacebook.png" style="transform: scale(0.5) translate(0px, 0px); position: relative;">
						<img src="../../assets/iconinstagram.png" style="transform: scale(0.5) translate(0px, 0px); position: relative">
						<img src="../../assets/icontwitter.png" style="transform: scale(0.5) translate(0px, 0px); position: relative">
						<img src="../../assets/iconlinkedin.png" style="transform: scale(0.5) translate(0px, 0px); position: relative">
						<img src="../../assets/iconwhatsapp.png" style="transform: scale(0.5) translate(0px, 0px); position: relative">
					</div>
				</div>
				<div class="col" style="background-color: #222222; height: 200px; color: #bbbbbb">
					<p style="color: #bbbbbb; text-align: center; margin-top: 20px">- CONTACTO -</p>
					<hr style=" color: white; border: 1px solid #888888">
					<ul>
						<li>
							Dirección: Irarrázaval #3665, Santiago Centro
						</li>
						<li>
							Teléfono: +56 9 1234 5678
						</li>
						<li>
							<p>Correo: contacto@grupo3.cl<p>
						</li>
					</ul>
				</div>
				<div class="col" style="background-color: #222222; height: 200px; text-align: center">
					<p style="color: #bbbbbb; text-align: center; margin-top: 20px">- NUESTRO EQUIPO -</p>
					<hr style="border: 1px solid #888888">
					<a href="#" style="color: #bbbbbb;">Conoce a nuestro equipo</a><br>	
					<a href="#" style="color: #bbbbbb">Trabaja con nosotros</a>			
				</div>
			</div>
