#mainheadercol {
	height: 170px; 
	background-image: linear-gradient(90deg, #9F5594 5%, #8E9BCF, #453C8B);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	max-width: 100%;
}