<div class="container-fluid">
    <div class="row">
				<div class="col bg-primary" style="height: 170px; background-image: url('../assets/fondoheader.jpg'); background-size: 1200px">
					<h1 style="color: white; text-align: right; margin-top: 50px; text-shadow: 2px 2px 5px black">Sitio de Reclamos G3</h1>
				</div>
			</div>
    <div class="row">
			<div class="row">
					<div class="col" style="background-color: #eeeeee">
						<!-- style="transform: scaleX(1.03);" -->
						<nav class="navbar navbar-expand-lg navbar-light bg-light">
								  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
								  </button>
	
								  <div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav mr-auto">
								  <li class="nav-item active">
									<a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
								  </li>
								  <li class="nav-item">
									<a class="nav-link" href="#">Nuevo Reclamo</a>
								  </li>
								  <li class="nav-item">
									<a class="nav-link" href="#">Historial de Reclamos</a>
								  </li>
								  <li>
									  <button type="button" (click)="registrar()" class="btn btn-primary" style="margin-left: 550px; margin-right: 10px">Regístrate!</button>	
								  </li>
								  <li>
									  <button type="button" class="btn btn-success" style="margin-left: 10px; margin-right: 10px" (click)="login()">Login</button>	
								  </li>
								  <li>
									  <button type="button" onclick="location.href='MainEmpresas.html'" class="btn btn-dark" style="margin-left: 10px; margin-right: 0px">Empresas</button>
								  </li>
								</ul>
								<form class="form-inline my-2 my-lg-0">
									  <input class="form-control mr-sm-2" type="search" placeholder="Buscar por #ID..." aria-label="Search">
									  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
								</form>
								  </div>
						</nav>
					</div>
				</div>
      </div>  
	  <router-outlet></router-outlet>
      
	</div>
