<!--------------------------------------------------------------------->
<!-- PERFIL COMPONENT : INTERFAZ DE BIENVENIDA TRAS INICIO DE SESIÓN -->
<!--------------------------------------------------------------------->

	<!------------------------------------------------------------------>
    <!-- NAVBAR: Barra de navegación superior, con vínculos y botones -->
    <!------------------------------------------------------------------>

	<!-- SECCIÓN 1: BOTONES HOME, RECLAMO E HISTORIAL -->
    <div class="row" id="navbar">
        <div id="navbarseccion1" class="col-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active" id="btn_home_navbar">
                        <div class="col">
                            <a class="nav-link" (click)="irPerfil()">
                                <img src="../../assets/homeiconminiEmpresa.png" alt="">
                                <br>
                                INICIO
                            </a>
                        </div>
                      </li>
                      <li class="nav-item">
                        <div class="col">
                            <a class="nav-link" href="/nuestro_equipo">
                                <img src="../../assets/usiconminiEmpresa.png" alt="">
                                <br>
                                NOSOTROS
                            </a>
                        </div> 
                      </li>
                    </ul>
                </div>            
            </nav>
        </div>

        <!-- SECCIÓN 2: VACIO EXISTENCIAL -->
        <div class="col-2 padding-0">
           
        </div>

        <!-- SECCIÓN 3: BOTON CERRAR SESION-->

        <div class="col-2 padding-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarseccion2">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li>
					    	 <button (click)="cerrarSesion()"type="button" class="btn" id=BotonCerrarSesion >Cerrar sesión</button>	
					   	</li>
                    </ul>
                </div>
            </nav>
        </div>
        <router-outlet></router-outlet>
    </div>  


<!-- CONTENIDO -->
			<div class="row" style="background-image: linear-gradient(120deg, #000000, #232526, #414345, #232526, #000000)">
				<div class="col-3" style="background-color: #444444; padding-left: 20px; padding-right:20px">
					<div>
                        <br> 
                        
						<div class="container"></div>
                        <div class="row">
                            <div class="col-5">
                                <img src="../../assets/photo-placeholder.jpeg">
                            </div>
                            <div class="col">
                                <h4 style="color: #ffffff">{{infoTrabajador.nombreTrabajador}}</h4>
                                <h6 style="color: #ffffff"><i>{{infoTrabajador.tipoTrabajador}}</i></h6>
                            </div>
                        </div>
                    <br><br><br><br>
					<button class="btn btn-lg btn-block" (click)="irPerfil()" id=BotonTodo >Todo</button>
                    <br>
                    <button class="btn btn-lg btn-block" (click)="irReclamo()" id=BotonListaReclamos>Lista Reclamos</button>
                    <br>
                    <button class="btn btn-lg btn-block" (click)="irSugerencia()" id=BotonListaSugerencias>Lista Sugerencias</button>
                    <br>
                    <br>
                    <button *ngIf="administrador"class="btn btn-lg btn-block" (click)="verEstadisticas()" id=BotonVerEstadisticas>Ver Estadisticas</button>
                    <br> 
                    <br>
                    <button *ngIf="administrador"class="btn btn-lg btn-block" (click)="irTrabajadores()" id=BotonTrabajadores>Trabajadores</button>
                    <br>

					</div>
				</div>
                <!-- area de graficos --> 
                <div class="col-9" style="text-align: center;">
                    <br>
                    <h1 style="color: white; text-shadow: 2px 2px 5px black; font-size: 50px">- Estadísticas -</h1><br>
                    <div class="row" style="text-align: center">
                        <!--grafico 1-->
                        <div class="col"></div>
                        <div class="col-9" style="background-color: rgba(255, 255, 255, 0.4); border-radius: 30px; padding-top: 10px; padding-bottom: 20px">
                            <h1 style="color: white; text-shadow: 2px 2px 5px black">Reclamos vs Sugerencias</h1><br>
                            <div id="chart-rVSs" class="chart">
                                <canvas baseChart
                                    [data]="rVSsData"
                                    [labels]="rVSsLabels"
                                    [chartType]="rVSsType"
                                    [options]="rVSsOptions"
                                    [plugins]="rVSsPlugins"
                                    [colors]="rVSsColors"
                                    [legend]="rVSsLegend">
                                </canvas>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                         <!--grafico 2-->
                        <div class="col"></div>
                        <div class="col-9" >
                            <div id="chart-rRVSrNr" class="chart" style="background-color: rgba(255, 255, 255, 0.4); border-radius: 30px; padding-top: 10px; padding-bottom: 20px; margin-top: 50px">
                                <h1 style="color: white; text-shadow: 2px 2px 5px black">Reclamos resueltos VS Reclamos no resueltos</h1><br>
                                <canvas  baseChart
                                    [data]="rRVSrNrData"
                                    [labels]="rRVSrNrLabels"
                                    [chartType]="rRVSrNrType"
                                    [options]="rRVSrNrOptions"
                                    [plugins]="rRVSrNrPlugins"
                                    [colors]="rRVSrNrColors"
                                    [legend]="rRVSrNrLegend">
                                </canvas>
                            </div>
                        </div> 
                        <div class="col"></div>
                    </div>
                    <div class="row">
                         <!--grafico 3-->
                            <div class="col"></div>
                            <div class="col-9" style="background-color: rgba(255, 255, 255, 0.4); border-radius: 30px; padding-top: 10px; padding-bottom: 20px; margin-top: 50px">
                                <div id="chart-sRVSsNr" class="chart">
                                    <h1 style="color: white; text-shadow: 2px 2px 5px black">Sugerencias resueltas VS Reclamos no resueltos</h1><br>
                                    <canvas  baseChart
                                        [data]="sRVSsNrData"
                                        [labels]="sRVSsNrLabels"
                                        [chartType]="sRVSsNrType"
                                        [options]="sRVSsNrOptions"
                                        [plugins]="sRVSsNrPlugins"
                                        [colors]="sRVSsNrColors"
                                        [legend]="sRVSsNrLegend">
                                    </canvas>
                                </div>
                            </div> 
                            <div class="col"></div>
                        </div>
                    
					<br>
					<br>
					<button class="btn btn-primary btn-lg btn-block" (click)="descargarInforme()">Descargar infrome</button>
					<br>
					<br>
					
				</div>
			</div>
