<!--------------------------------------------------------------------->
<!-- PERFIL COMPONENT : INTERFAZ DE BIENVENIDA TRAS INICIO DE SESIÓN -->
<!--------------------------------------------------------------------->

	<!------------------------------------------------------------------>
    <!-- NAVBAR: Barra de navegación superior, con vínculos y botones -->
    <!------------------------------------------------------------------>

	<!-- SECCIÓN 1: BOTONES HOME, RECLAMO E HISTORIAL -->
    <div class="row sticky-top" id="navbar">
        <div id="navbarseccion1" class="col-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active" id="btn_home_navbar">
                        <div class="col">
                            <a class="nav-link" (click)="irPerfil()">
                                <img src="../../assets/homeiconminiEmpresa.png" alt="">
                                <br>
                                INICIO
                            </a>
                        </div>
                      </li>
                      <li class="nav-item">
                        <div class="col">
                            <a class="nav-link" href="/nuestro_equipo">
                                <img src="../../assets/usiconminiEmpresa.png" alt="">
                                <br>
                                NOSOTROS
                            </a>
                        </div> 
                      </li>
                    </ul>
                </div>            
            </nav>
        </div>

        <!-- SECCIÓN 2: VACIO EXISTENCIAL -->
        <div class="col-2 padding-0">
           
        </div>

        <!-- SECCIÓN 3: BOTON CERRAR SESION-->

        <div class="col-2 padding-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarseccion2">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li>
					    	 <button (click)="cerrarSesion()"type="button" class="btn" id=BotonCerrarSesion >Cerrar sesión</button>	
					   	</li>
                    </ul>
                </div>
            </nav>
        </div>
        <router-outlet></router-outlet>
    </div>  


<!-- CONTENIDO -->
<!--SIDEBAR-->
<div class="row" style="background-color: rgba(255, 255, 255, 0.4)">
    <div class="col-3" style="background-color: #444444; padding-left: 20px; padding-right:20px">
        <div class="sticky-top" style="top: 85px">
            <br> 
            
            <div class="container"></div>
                <div class="row">
                    <div class="col-5">
                        <img src="../../assets/photo-placeholder.jpeg">
                    </div>
                    <div class="col">
                        <h4 style="color: #ffffff">{{infoTrabajador.nombreTrabajador}}</h4>
                        <h6 style="color: #ffffff"><i>{{infoTrabajador.tipoTrabajador}}</i></h6>
                    </div>
                </div>
            <br><br><br>
            <button class="btn btn-lg btn-block" (click)="irPerfil()" id=BotonTodo >Todo</button>
            <br>
            <button class="btn btn-lg btn-block" (click)="irReclamo()" id=BotonListaReclamos>Lista Reclamos</button>
            <br>
            <button class="btn btn-lg btn-block" (click)="irSugerencia()" id=BotonListaSugerencias>Lista Sugerencias</button>
            <br>
            <br>
            <button *ngIf="administrador"class="btn btn-lg btn-block" (click)="verEstadisticas()" id=BotonVerEstadisticas>Ver Estadisticas</button>
            <br> 
            <br>
            <button *ngIf="administrador"class="btn btn-lg btn-block" (click)="itTrabajadores()" id=BotonTrabajadores>Trabajadores</button>
            <br>

        </div>
    </div>
    <!--CONTENIDO-->
				<div class="col-9" ><br>
					<h1 style="color: white; text-align: center; text-shadow: 2px 2px 5px #222222">Lista de Trabajadores</h1>
					<div style="text-align: right"><button (click)="agregarTrabajador()"class="btn" id=BotonAgregarTrabajador>Agregar Trabajador</button>	</div>
					<br><br>
                    <br>
                    
					<div *ngFor="let trabajador of trabajadores" >
						<!---color angtiguo rgba(255, 255, 255, 0.9)  -->
						<div  style="border-radius: 10px; padding-top: 15px; padding-bottom: 10px; background-color: white">
							<br>
							<div class="container">
								<div class="row">
									<div class="col-3" style="padding-top: 3px"> 
                                        <p>Nombre: {{trabajador.nombreTrabajador}}</p>
                                        <p>Apellido: {{trabajador.apellidoTrabajador}}</p>
									</div>
									<div class="col-7">
                                    <p>ID trabajador: {{trabajador.idTrabajador}}</p>
                                    <p>Tipo trabajador: {{trabajador.tipoTrabajador}}</p>
									</div>
									<div class="col-2" style="text-align: center">
					
										<button (click)="eliminarTrabajador(trabajador)"class="btn btn-danger">Eliminar</button>
									</div>
								</div>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>
