<!--------------------------------------------------------------------->
<!-- HOME COMPONENT : COMPONENTE PRINCIPAL DE LA INTERFAZ DE USUARIO -->
<!--------------------------------------------------------------------->
<div class="container-fluid">
    <!------------------------------------------------------------------>
    <!-- NAVBAR: Barra de navegación superior, con vínculos y botones -->
    <!------------------------------------------------------------------>

    <!-- SECCIÓN 1: BOTONES HOME, RECLAMO Y SUGERENCIA -->
    <div class="row" id="navbar">
        <div id="navbarseccion1" class="col-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active" id="btn_home_navbar">
                        <div class="col">
                            <a class="nav-link" (click)="home()">
                                <img src="../../assets/homeiconmini.png" alt="">
                                <br>
                                INICIO
                            </a>
                        </div>
                      </li>
                      <li class="nav-item">
                        <div class="col">
                            <a class="nav-link" href="/anonimo/realizar_reclamo">
                                <img src="../../assets/reclamoiconmini.png" alt="">
                                <br>
                                RECLAMO
                            </a>
                        </div>
                      </li>
                      <li class="nav-item">
                        <div class="col">
                            <a class="nav-link" href="/anonimo/realizar_sugerencia">
                                <img src="../../assets/sugerenciaiconmini.png" alt="">
                                <br>
                                SUGERENCIA
                            </a>
                        </div> 
                      </li>
                      <li class="nav-item">
                        <div class="col">
                            <a class="nav-link" href="/nuestro_equipo">
                                <img src="../../assets/usiconmini.png" alt="">
                                <br>
                                NOSOTROS
                            </a>
                        </div> 
                      </li>
                    </ul>
                </div>            
            </nav>
        </div>

        <!-- SECCIÓN 2: BOTONES REGISTRO, LOGIN Y EMPRESAS -->
        <div class="col-4 padding-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarseccion2">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li>
                            <button type="button" id= "idBotonRegistrar" (click)="registrar()" class="btn" style="margin-left: 0px; margin-right: 10px">¡Regí­strate!</button>   
                        </li>
                        <li>
                            <button type="button" id= "idBotonLogin" class="btn" style="margin-left: 10px; margin-right: 10px" (click)="login()">Login</button>  
                        </li>
                        <li>
                            <button type="button" id= "idBotonEmpresa" (click)="homeEmpresa()" class="btn" style="margin-left: 10px; margin-right: 0px">Empresas</button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- SECCIÃ“N 3: BUSCAR POR ID -->

        <div class="col padding-0">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarseccion3">
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
    
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        
                        <div class="col-8 padding-0" style="text-align: right">
                          <input [(ngModel)]="idBusqueda" class="form-control mr-sm-2" type="search" placeholder="Buscar #ID..." aria-label="Search">
                             
                        </div>
                        <div class="col padding-0">
                            <button (click)="buscarPorId()" class="btn btn-outline-info my-2 my-sm-0" id= "idBotonBuscar"type="submit">
                                Buscar
                            </button>
                        </div>
                              
                      </div>
                </nav>
            </div>
        <router-outlet></router-outlet>
    </div>  

  <!-- CONTENIDO -->
  <div class="row">
        <div class="col-8" id=Imagen>
        </div>

        
        <div class="col" id=contenido2>
            <form>
                <h4 style="color: #eeeeee; text-align: center; margin-top: 150px; text-shadow: 2px 2px 5px black">
                    ¡Bienvenido/a a Grupo 3!
                </h4><br>

                <p style="color: #eeeeee; text-align: center">
                    ¿Has tenido algún inconveniente con alguna empresa? <br>
                    Si necesitas ayuda nosotros somos a quien acudir. Hacemos
                    llegar tus sugerencias y reclamos a las empresas. <br><br>
                    Estás a un paso de recibir tu solución.
                </p>
                <button (click)="registrar()" class="btn btn-lg btn-block" id=BotonRegistrarse>Registrarse</button>
                <button  (click)="reclamoanonimo()" class="btn btn-block" id=BotonAnon>Realizar un reclamo anónimo</button>
                <a href="" style="color: #eeeeee; text-align: center"><small id="emailHelp" class="form-text" style="color: #eeeeee">Ver beneficios de un Usuario Registrado</small></a>
            </form>
        </div>
    </div>

<router-outlet></router-outlet>
</div>