<!--------------------------------------------------------------------->
<!-- PERFIL COMPONENT : INTERFAZ DE BIENVENIDA TRAS INICIO DE SESIÓN -->
<!--------------------------------------------------------------------->

	<!------------------------------------------------------------------>
    <!-- NAVBAR: Barra de navegación superior, con vínculos y botones -->
    <!------------------------------------------------------------------>
<div class="row">
				<div class="col" style="background-color: #eeeeee">
					<!-- style="transform: scaleX(1.03);" -->
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    						<span class="navbar-toggler-icon"></span>
	  						</button>

		  					<div class="collapse navbar-collapse" id="navbarSupportedContent">
					    	<ul class="navbar-nav mr-auto">
					    	  <li class="nav-item active">
					    	    <a class="nav-link" href="#">¡Bienvenido, Daniel! <span class="sr-only">(current)</span></a>
					    	  </li>
					    	  <li>
					    	  	<button type="button" class="btn btn-danger" style="margin-left: 950px; margin-right: 10px" onclick="location.href='MainUsuarios.html'">Cerrar sesión</button>	
					    	  </li>
	    					</ul>
	    					<form class="form-inline my-2 my-lg-0">
	      						<input class="form-control mr-sm-2" type="search" placeholder="Buscar por #ID..." aria-label="Search">
	      						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
	    					</form>
			  				</div>
					</nav>
				</div>
			</div>


<!-- CONTENIDO -->
			<div class="row" style="background-image: linear-gradient(#355C7D, #6C5B7B, #C06C84)">
				<div class="col-3" style="background-color: #dddddd">
					<div>
						<br>
						<img src="../../assets/photo-placeholder.jpeg">
						<div style="background-color: darkgray; height:10px; width: 200px; transform: translate(150px, -100px);"></div>
						<div style="background-color: darkgray; height:10px; width: 180px; transform: translate(150px, -80px);"></div>
						<button class="btn btn-primary btn-lg btn-block">Mi perfil</button>
						<br><br><br><br>
						<button class="btn btn-info btn-lg btn-block" onclick="location.href='InterfazUR-Historial.html'">Historial de Reclamos</button>
						<br>
						<button class="btn btn-success btn-lg btn-block" onclick="location.href='InterfazUR-Sugerencia.html'">Realizar Sugerencia</button>
						<br>
						<button class="btn btn-danger btn-lg btn-block" (click)="realizarReclamo()">Realizar Reclamo</button>
						<br>
					</div>
				</div>
				<div class="col-9" style="height:730px; ">

				</div>
			</div>
