<!------------------------------------------------------------------------->
<!-- REGISTRO-USUARIO COMPONENT: FORMULARIO DE REGISTRO DE NUEVO USUARIO -->
<!------------------------------------------------------------------------->

    <!------------------------------------------------------------------>
    <!-- NAVBAR: Barra de navegación superior, con vínculos y botones -->
    <!------------------------------------------------------------------>

    <!-- SECCIÓN 1: BOTONES HOME, RECLAMO E HISTORIAL -->
    <div class="row sticky-top" id="navbar">
        <div id="navbarseccion1" class="col-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active" id="btn_home_navbar">
                        <div class="col">
                            <a class="nav-link" href="/home">
                                <img src="../../assets/homeiconmini.png" alt="">
                                <br>
                                INICIO
                            </a>
                        </div>
                      </li>
                      <li class="nav-item">
                        <div class="col">
                            <a class="nav-link" (click)="reclamo()">
                                <img src="../../assets/reclamoiconmini.png" alt="">
                                <br>
                                RECLAMO
                            </a>
                        </div>
                      </li>
                      <li class="nav-item">
                        <div class="col">
                            <a class="nav-link" (click)="irSugerencia()">
                                <img src="../../assets/sugerenciaiconmini.png" alt="">
                                <br>
                                SUGERENCIA
                            </a>
                        </div> 
                      </li>
                    </ul>
                </div>            
            </nav>
        </div>

        <!-- SECCIÓN 2: BOTONES REGISTRO, LOGIN Y EMPRESAS -->
        <div class="col-4 padding-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarseccion2">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li>
                            <button type="button" id= "idBotonRegistrar" (click)="registrar()" class="btn" style="margin-left: 0px; margin-right: 10px">¡Regí­strate!</button>   
                        </li>
                        <li>
                            <button type="button" id= "idBotonLogin" class="btn" style="margin-left: 10px; margin-right: 10px" (click)="login()" >Login</button>  
                        </li>
                        <li>
                            <button type="button" id= "idBotonEmpresa" (click)="homeEmpresa()" class="btn" style="margin-left: 10px; margin-right: 0px">Empresas</button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- SECCIÃ“N 3: BUSCAR POR ID -->

        <div class="col padding-0">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarseccion3">
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
    
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        
                        <div class="col-8 padding-0" style="text-align: right">
                          <input [(ngModel)]="idBusqueda" class="form-control mr-sm-2" type="search" placeholder="Buscar #ID..." aria-label="Search" (click)="buscarPorId()">
                             
                        </div>
                        <div class="col padding-0">
                            <button (click)="buscarPorId()" class="btn btn-outline-info my-2 my-sm-0" id= "idBotonBuscar"type="submit">
                                Buscar
                            </button>
                        </div>
                              
                      </div>
                </nav>
            </div>
        <router-outlet></router-outlet>
    </div>  

<!-- CONTENIDO -->
<form name="formRegistro" [formGroup]="formRegistro" class="testsss">
            <div class="row" id=idFondoRegistro>
                <div class="col-4"></div>
                <div class="col-4" style="height:1530px; ">
                    <h4 style="color: #ffffff; text-align: center; margin-top: 100px; text-shadow: 2px 2px 5px black; font-size: 40px">
                        Registro de Nuevo Usuario 
                    </h4><br>

                    <p style="color: #eeeeee; text-align: center">
                        Ingresa tu información para crear tu usuario:
                    </p>
                    <div>
<!-- ###############################   NOMBRE    ##################################################################################################################-->
                            <div class="form-group form-reg">
                                <label style="color: #dddddd;">Primer nombre</label>
                                <input [(ngModel)]="nombre" type="text" class="form-control" id="Nombre" name="Nombre" formControlName="Nombre"  placeholder="Ingresa tu nombre..." onKeypress="if (event.keyCode < 65 || event.keyCode > 90) if (event.keyCode < 97 || event.keyCode > 122) event.returnValue = false;" minlength="3" maxlength="45" required>
                            </div>
<!-- ##############################   APELLIDO  ###################################################################################################################-->
                            <div class="form-group form-reg">
                                <label style="color: #dddddd;">Primer apellido</label>
                                <input [(ngModel)]="apellido"type="text" class="form-control" id="Apellido" name="Apellido" formControlName="Apellido" placeholder="Ingresa tu apellido..."  onKeypress="if (event.keyCode < 65 || event.keyCode > 90) if (event.keyCode < 97 || event.keyCode > 122) if(event.keyCode == 8) event.returnValue = false;" minlength="3" maxlength="45" required>
                            </div>
<!-- ##############################   RUT   ###################################################################################################################-->
                            <div class="form-group form-reg">
                                <label for="" style="color: #dddddd">Rut</label>
                                <input [(ngModel)]="rut" type="text" (keyup)="validateRut()" class="form-control"  id="" name="Rut" formControlName="Rut" placeholder="Ejemplo: 193157505" minlength="8" maxlength="10" required >
                                <p style="color: white;">{{errRut}}</p>
                            </div>
<!-- ##############################  FECHA DE NACIMIENTO ###################################################################################################################-->
                            <div class="form-group form-reg">
                                <label style="color: #dddddd;">Fecha de Nacimiento</label>
                                <input [(ngModel)]="fecha" type="date" class="form-control" id="Fecha" name="Fecha" formControlName="Fecha" (keyup)="validarfecha()" placeholder="MM/DD/YYYY" max="2009-01-01" required >  
                                <p style="color: white;">{{errorFecha}}</p>                           
                            </div>
<!-- ##############################  TELEFONO ###################################################################################################################-->
                            <label style="color: #dddddd;">Telefono</label><br>
                            <div class="btn-group">
                              <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Chile(+56)
                              </button>
                            <input [(ngModel)]="fono" type="text" class="form-control" id="Fono" name="Fono" formControlName="Fono" placeholder="X XXXX XXXX" (keyup)="validarTelefono()" onKeypress="if (event.keyCode < 48 || event.keyCode > 57) event.returnValue = false;"  maxlength="9" required >
                            </div>
                            <p style="color: white;">{{errorTel}}</p>
<!-- ##############################   GENERO   ###################################################################################################################-->
                           <div class="form-group form-reg">
                                <br><label style="color: #dddddd;">Género</label><br>
                                <select class="browser-default custom-select " name="Genero" id="Genero" formControlName="Genero" [(ngModel)]="genero" >
                                        <option ng-selected="data.unit == item.id" *ngFor="let genero of generos"  [ngValue]="genero">{{genero}}</option>  
                                    </select>
                                    <p style="color: white; background-color: red">{{errGenero}}</p> 
                            </div> 
<!-- #############################  CORREO ELECTRONICO ####################################################################################################################-->

                            <div class="form-group form-reg">
                                <br><label style="color: #dddddd;">Correo electrónico</label>
                                <input [(ngModel)]="correo"type="email" class="form-control" id="Correo" name="Correo" formControlName="Correo" placeholder="JuanPerez@ejemplo.com" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{0,5})$">
                            </div>
<!-- #############################  CONFIRMAR CORREO ELECTRONICO  ####################################################################################################################-->
                            <div class="form-group form-reg">
                                <br><label style="color: #dddddd;">Confirmar correo electrónico</label>
                                <input  [(ngModel)]="correo2" type="email" class="form-control" id="Correo2" name="Correo2" formControlName="Correo2" (keyup)="validarCorreo()" placeholder="JuanPerez@ejemplo.com" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{0,5})$">
                                <p style="color: white;">{{errorEmail}}</p>
                            </div>
<!-- ##############################  CONTRASEÑA  ###################################################################################################################-->

                            <div class="form-group form-reg">
                                <br><label style="color: #dddddd;">Contraseña</label>
                                <input [(ngModel)]="pass" type="password" class="form-control" id="Pass" name="Pass" formControlName="Pass" placeholder="Recuerda usar números, símbolos y letras">
                            </div>
<!-- ##############################  CONFIRMAR CONTRASEÑA  ###################################################################################################################-->
                            <div class="form-group form-reg">
                                <br><label style="color: #dddddd;">Confirmar contraseña</label>
                                <input [(ngModel)]="pass2" type="password" class="form-control" id="Pass2" name="Pass2" formControlName="Pass2" (keyup)="validarPass()" required placeholder="********************" (keyup.enter)="registro()">
                                <p style="color: white;">{{errPass}}</p>
                                 <br>       
                                <div class ="row">
                                    <h3 style="background-color: firebrick; color: white;">{{mensaje}}</h3>
                                 </div>
                            </div>       
<!-- ############################# BOTON PARA CONFIRMAR REGISTRO  ####################################################################################################################-->
                            <br><br><button type="button" (click)="registro()" [disabled]="!formRegistro.valid" id=idBotonConfirmarRegistro class="btn btn-lg btn-block">Confirmar registro</button><br>
                            <small id="emailHelp" class="form-text" style="color: #dddddd; text-align: center">Tu información está segura con nosotros.</small>
                        </div> 
                    <br>
                    <br><br>
                    <br>
                    <br><br>
                    <br>
                    <br><br>
                    <br>
                    <br><br>
                </div>
                <div class="col-4"></div>
            </div> 
        </form>  
